html{	width: 100vw;
	    height: 100vh;}

body   {background-color: #9EBAC5;
	    margin:0;
	    padding: 0;
	    font-family: "微軟正黑體";
	   	
		}
.header{width: 100vw;
		height:130px;
		text-align:center;
		}
.footer{width: 100vw;
        height: 180px;
		margin: 0px;
		position: fixed;
	    bottom:0;
	    left: 0;
		opacity: 1;
		background-color:#9EBAC5;}		
.bodyy {width: 100vw;
		height:565px;
		margin: 0px;
		
		}
.cycuim{width:600px;
 		height: 110px;
 		padding-top:10px; 
 		}
.div1  {width: 20vw;
		height:100vh;
		float:left;
	    position: fixed;
	    left:0;}
.div2  {float:left;
		width:65vw;
		height: 950px;
		position: absolute;
        left:26vw;

	    }
.div3{	float:left;
		width:65vw;
		height: 1750px;
		position: absolute;
        left:26vw;
}
.divsport{
		float:left;
		width:65vw;
		height:4000px;
		position: absolute;
        left:26vw;
}
.formdiv{
		position:absolute;
		top:3350px;
		left:100px;

}
form{	width:550px;
		font-size:18px;
		line-height:50px;
		font-weight: bold;
		color:#313147;}
.formname{
		font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:3250px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;
}
.button{text-align:center;
		font-size:20px;
		font-weight: bolder;
		background-color:#323A51 ;
		color:#FFF;
		border-radius: 10px;
		font-family:"微軟正黑體";
		width:120px;
		}
.button:hover{
		color:#323A51;
		background-color:#FFF;
		border:2px #323A51 solid;
		font-weight: bolder;
		font-family:"微軟正黑體";
	}
.buttondiv{
		text-align:center;
}
legend{	font-size:28px;
		color:#465070;
		}
fieldset{border:3px #323A51 dashed;}
.about{	width: 210px;
	 	height: 181px;
	 	position: absolute;
	 	left:190px;
	    top:190px;}	 
.about:hover
	   {transform:scale(1.2);
	   	-webkit-animation:hey .8s infinite ;
		}
		@-webkit-keyframes hey
		{0%{top:170px;}
		50%{top:200px;}
		100%{top:170px;}
		}
.study{ width: 210px;
	 	height: 181px;
	 	position: absolute; 
	    left:50px;
	    top:480px;}
.study:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyy .8s infinite ;
		}
		@-webkit-keyframes heyy
		{0%{top:470px;}
		50%{top:500px;}
		100%{top:470px;}
		}
.imsa{  width: 210px;
	 	height: 181px;
	 	position: absolute;
	 	left:1150px;
	 	top:115px; }
.imsa:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyyy .8s infinite ;
		}
		@-webkit-keyframes heyyy
		{0%{top:120px;}
		50%{top:150px;}
		100%{top:120px;}
		}
.sport{ width: 210px;
	 	height: 181px;
	 	position: absolute;
	 	left:1280px;
	 	top:430px; }
.sport:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyyyy .8s infinite ;
		}
		@-webkit-keyframes heyyyy
		{0%{top:420px;}
		50%{top:450px;}
		100%{top:420px;}
		}	
video{	width:630px;
	    height:354px;
	    position: absolute;
	 	left:452px;
	 	top:145px; 
	 	border-radius: 30px;
	 	border: 6px #696E9A dashed ;
	 	z-index: -1;
	 	}	 	  
.circle1{width:400px;
	    height:342px;
		position: absolute;
	    left:0px;
	    top:0px;}   
.circle3{width:400px;
	    height:342px;
		position: absolute;
		left:1100px;
	    top:370px;}	
.more{	width:150px;
	    height:150px;
		position: absolute;
		left:315px;
	    top:350px;
		}	
.more:hover{
		transform:scale(1.1);
		-webkit-animation:jump .8s infinite ;
		}   
		@-webkit-keyframes jump
		{0%{top:340px;}
		50%{top:370px;}
		100%{top:340px;}
		}     
.c	   {width:210px;
		height:180px;
		position: absolute;
		left:350px;
	    top:540px;
		}
.c:hover{
		transform: scale(1.18);
		top:525px;
		}
.y	   {width:210px;
		height:180px;
		position: absolute;
		left:555px;
	    top:540px;
		}
.y:hover{
		transform: scale(1.18);
		top:525px;
		}
.i	   {width:210px;
		height:180px;
		position: absolute;
		left:760px;
	    top:540px;
		}
.i:hover{
		transform: scale(1.3);
		top:515px;
		}
.m	   {width:210px;
		height:180px;
		position: absolute;
		left:970px;
	    top:540px;
		}
.m:hover{
		transform: scale(1.3);
		top:515px;
		}
.about1{width:310px;
		height:265px;
		position: relative;
	    left:30px;
	    top:-25px;}
.class1{width:310px;
		height:265px;
		position: relative;
	    left:100px;
	    top:-30px;}
.class1:hover{
		transform: scale(1.1);	
		}
.imsa1 {width:320px;
		height:275px;
		position: relative;
	    left:170px;
	    top:-30px;}
.imsa1:hover{
		transform: scale(1.1);	
		}	    
.sport1{width:315px;
		height:270px;
		position: relative;
	    left:240px;
	    top:0px;}
.sport1:hover{
		transform: scale(1.1);	
		}	   
.what  {width:206px ;
		height:104px ;
		position: absolute;
		left:50px;
		top:-50px;
		-webkit-animation:what 1.8s infinite linear;}
		@-webkit-keyframes what
		{0%{transform:translateX(0px);}
		25%{transform:translateX(4px);}
		50%{transform:translateX(0px);}
		75%{transform:translateX(-4px);}
		100%{transform:translateX(-1px);}
		}
.prefer{width:206px ;
		height:104px ;
		position: absolute;
		left:150px;
		top:85px;
		-webkit-animation:what 1.8s infinite linear 0.3s;} 
.future{width:200px ;
		height:160px ;
		position: absolute;
		left:10px;
		top:190px;
		-webkit-animation:what 2s infinite linear 0.5s;}
.profession{
		width:200px;
		height:160px ;
		position: absolute;
		left:40px;
		top:-20px;
		}
.company{
		width:200px;
		height:160px ;
		position: absolute;
		left:40px;
		top:220px;
		}
.important{
		width:278px;
		height:155px ;
		position: absolute;
		left:0px;
		top:105px;
		}
.new{	width:170px ;
		height:137px ;
		position: absolute;
		left:50px;
		top:-100px;
		}		
.dog{	width:165px ;
		height:135px ;
		position: absolute;
		left:215px;
		top:-10px;
		}		
.cool{	width:170px ;
		height:137px ;
		position: absolute;
		left:30px;
		top:60px;
		}						
.tired{	width:165px ;
		height:137px ;
		position: absolute;
		left:190px;
		top:155px;
		}
.rase{	width:170px ;
		height:137px ;
		position: absolute;
		left:10px;
		top:230px;
		}	
.basketball{
		width:180px ;
		height:150px ;
		position: absolute;
		left:30px;
		top:20px;
		-webkit-animation:bk 2s 0.5s ease-out infinite ;
		}				
		@-webkit-keyframes bk
		{0%{top:10px;transform:rotate(0deg);}
		50%{top:40px;transform:rotate(180deg);}		
		100%{top:10px;transform:rotate(360deg);}
		}
.badminton{
		width: 210px;
		height:210px ;
		position: absolute;
		left:170px;
		top:120px;
		-webkit-animation:bm 1.5s 0.3s infinite ;
		}	
		@-webkit-keyframes bm
		{0%{top:110px;}
		50%{top:140px;}
		100%{top:110px;}
		}
.volleyball{
		width: 200px;
		height:200px ;
		position: absolute;
		left:60px;
		top:270px;
		-webkit-animation:vo 1.5s infinite ;
		}		
		@-webkit-keyframes vo
		{0%{top:260px;}
		50%{top:290px;}
		100%{top:260px;}
		}
.im	{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:10px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;
		}
		@-webkit-keyframes im
		{0%{opacity: 0;}
		100%{opacity: 1;}}
.rase0{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:200px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.pic{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:480px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.imp{	position: absolute;
		top:100px;
		font-size: 18px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.rase1{	height: 150px;
		position: absolute;
		top:280px;
		font-size: 18px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.sportpic{
		position: absolute;
		top:500px;
}
.so{	text-indent: 38px;}
.vs{	position: absolute;
		top:150px;
		left:40px;	
		border:4px #A07B7B dashed;
		border-radius: 5px;
		background-color: #EDE1CC;
		width:310px;
		height:190px;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.vs1{	position: absolute;
		top:150px;
		left:480px;
		border:4px #A07B7B dashed;
		border-radius: 5px;
		background-color: #EDE1CC;
		width:525px;
		height:190px;
		opacity: 0;	
		animation: im 2s 1.5s forwards;	
		}
.vssmall{
		font-size: 18px;
		line-height:60px;
		font-weight: bold;
		color:#313147;
		position: absolute;
		top:55px;
		left:78px;
		}
.vsbig{	font-size: 24px;
		font-weight: bolder;
		color:#6D4859;
		position: absolute;
		top:-30px;
		left:65px;
		background-color: #B8C2E5;
		width:130px ;
		height:30px;
		padding:20px ; 
		border-radius: 80px;
		animation: vs 1s infinite ease-out;
		}
		@-webkit-keyframes vs
		{
		0%{transform:rotate(0deg); }
		25%{transform:rotate(5deg);}
		75%{transform:rotate(-5deg);}
		100%{transform:rotate(0deg);}
		}
.vsbig1{font-size: 24px;
		font-weight: bolder;
		color:#6D4859;
		position: absolute;
		top:-30px;
		left:165px;
		background-color: #B8C2E5;
		width:130px ;
		height:30px;
		padding:20px ; 
		border-radius: 80px;
		animation: vs 1s infinite ease-out;
		}
b:hover{font-size: 22px;
		color:red;}
.ball{	width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#E3CCD0;
		position: absolute;
		top:57px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#9C4040;
		border:2px #9C4040 solid;
		}
.ballim{width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#D3F1E4;
		position: absolute;
		top:118px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#3F6B5F;
		border:2px #3F6B5F solid ;

		}
.ballice{
		width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#AEDAEF;
		position: absolute;
		top:57px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#183DB0;
		border:2px #183DB0 solid;
		}
.gglai{	width: 300px;
		height: 300px;
		padding-top: 30px; 
		border-radius: 25%;		
		}
.han{	width: 230px;
		height: 300px;
		padding-top: 30px; 
		border-radius: 20%;	}
.pig1{	width: 200px;
		height: 200px;
		position: absolute;
		top:100px;
		left:100px;
		animation: vs 1s infinite ease-out;}
.pig2{	width: 200px;
		height: 200px;
		position: absolute;
		top:450px;
		left:100px;
		animation: vs 1s infinite 0.5s ease-out;}
.pig3{	width: 200px;
		height: 200px;
		position: absolute;
		top:100px;
		left:1200px;
		animation: vs 1s infinite ease-out;}
.pig4{	width: 200px;
		height: 200px;
		position: absolute;
		top:450px;
		left:1200px;
		animation: vs 1s infinite 0.5s ease-out;}
.futuretable{
		border:2px #273861 dashed;
		text-align: left;
		width:950px;
		height: 200px ;
		border-collapse: collapse;
		position: absolute;
		left:20px;
		padding: 10px;
		}
td{		border-collapse: collapse;
		border:2px  #273861 dashed;
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
		}
.old{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:450px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.classtable{
		border:2px #273861 dashed;
		text-align: left;
		width:950px;
		height: 150px ;
		border-collapse: collapse;
		position: absolute;
		left:20px;
		padding: 10px;
		margin-top:30px; 
		}
.td1{	width:150px;
		text-align: center;
		background-color: #5975B4;
		color:#DFDCC6;}
.td2{	text-align: center;
		background-color: #87BCC5;}
.sporttable{
		border:2px #273861 dashed;
		text-align: left;
		width:450px;
		height: 100px ;
		border-collapse: collapse;
		position: absolute;
		left:20px;
		
}
.hr2{	position: absolute;
		top:800px;	
		}
hr{		height: 3px;
		width:100vw;
		border:0;
		}
.people{
		text-align: center;	
		width:600px;
		height: 550px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		left:460px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;

		}
.fb1{	width:50px;
		height:50px;
		position:absolute;
		top:330px;
		left:350px;}
.people2{
		text-align: center;	
		width:600px;
		height: 655px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:790px;
		left:460px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		margin-bottom:50px;
		margin-top:50px; 
		 }
.peach1{position: absolute;
		top:840px;
		left:100px;
		animation: vs 1s infinite ease-out;
		}
.peach2{position: absolute;
		top:1190px;
		left:100px;
		animation: vs 1s infinite ease-out;
		}
.peach3{position: absolute;
		top:840px;
		left:1200px;
		animation: vs 1s infinite ease-out;
		}
.peach4{position: absolute;
		top:1190px;
		left:1200px;
		animation: vs 1s infinite ease-out;
		}
.hr3{	position: absolute;
		top:1515px;	
		}
.people3{
		text-align: center;	
		width:600px;
		height: 600px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:1550px;
		left:460px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		margin-bottom:50px; 
		margin-top:50px;
		}
.bear1{	width: 200px;
		height: 200px;
		position: absolute;
		top:1600px;
		left:100px;
		animation: vs 1s infinite  ease-out;}
.bear2{	width: 200px;
		height: 200px;
		position: absolute;
		top:1950px;
		left:100px;
		animation: vs 1s infinite 0.5s ease-out;}
.bear3{	width: 200px;
		height: 200px;
		position: absolute;
		top:1600px;
		left:1200px;
		animation: vs 1s infinite  ease-out;}
.bear4{	width: 200px;
		height: 200px;
		position: absolute;
		top:1950px;
		left:1200px;
		animation: vs 1s infinite 0.5s ease-out;}
.hr4{	position: absolute;
		top:2270px;	
		}
.people4{
		text-align: center;	
		width:600px;
		height: 600px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:2300px;
		left:460px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		margin-bottom:30px; 
		margin-top:50px;
		}
.cat1{	width: 200px;
		height: 200px;
		position: absolute;
		top:2350px;
		left:100px;
		animation: vs 1s infinite  ease-out;}
.cat2{	width: 200px;
		height: 200px;
		position: absolute;
		top:2700px;
		left:100px;
		animation: vs 1s infinite 0.5s ease-out;}
.cat3{	width: 200px;
		height: 200px;
		position: absolute;
		top:2350px;
		left:1200px;
		animation: vs 1s infinite  ease-out;}
.cat4{	width: 200px;
		height: 200px;
		position: absolute;
		top:2700px;
		left:1200px;
		animation: vs 1s infinite 0.5s ease-out;}
.mingi{	width:300px;
		height:240px;
		position: absolute;
		top:70px;
		left: 290px;}
.samoya{width:300px;
		height:240px;
		position: absolute;
		top:70px;
		left: 600px;
		}
.imtable{
		border-collapse: collapse;
		width:400px;
		position: absolute;
		left:100px;
		}
.td3{	width:60px;
		text-align: center;
		background-color: #ADBCE1;
		}
.boy1{	position: absolute;
		top:570px;
		left:50px;
		font-size: 20px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;		
		animation: im 1s 1.5s forwards;
}
.boybasket{
		width:600px;
		height: 400px;
		position: absolute;
		top:600px;
		left:120px;
		border:12px  #556E76 ridge;		
		}
		@-webkit-keyframes round
		{2%{opacity: 1;}
		10%{opacity: 1;}
		12%{opacity: 0;}
		}
.boybasket img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.boybasket:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.boybasketpic{	
		-webkit-animation: round 50s linear infinite;
		}
.boybasketpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.boybasketpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.boybasketpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.boybasketpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.boybasketpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.boybasketpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.boybasketpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.boybasketpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.boybasketpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}				
.girl1{	position: absolute;
		top:1100px;
		left:50px;
		font-size: 20px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.girlbasket{
		width:600px;
		height: 400px;
		position: absolute;
		top:1130px;
		left:120px;
		border:12px  #F9C5C5 ridge;		
		}
.girlbasket img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.girlbasket:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.girlbasketpic{	
		-webkit-animation: round 50s linear infinite;
		}
.girlbasketpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.girlbasketpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.girlbasketpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.girlbasketpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.girlbasketpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.girlbasketpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.girlbasketpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.girlbasketpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.girlbasketpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}		

.boy2{	position: absolute;
		top:1640px;
		left:50px;
		font-size: 20px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.boyvolleyball{
		width:600px;
		height: 400px;
		position: absolute;
		top:1670px;
		left:120px;
		border:12px  #907292 ridge;		
		}
.boyvolleyball img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.boyvolleyball:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.boyvolleyballpic{	
		-webkit-animation: round 50s linear infinite;
		}
.boyvolleyballpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.boyvolleyballpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.boyvolleyballpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.boyvolleyballpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.boyvolleyballpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.boyvolleyballpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.boyvolleyballpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.boyvolleyballpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.boyvolleyballpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	

.girl2{	position: absolute;
		top:2180px;
		left:50px;
		font-size: 20px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.girlvolleyball{
		width:600px;
		height: 400px;
		position: absolute;
		top:2210px;
		left:120px;
		border:12px  #4C8C7C ridge;		
		}
.girlvolleyball img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.girlvolleyball:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.girlvolleyballpic{	
		-webkit-animation: round 50s linear infinite;
		}
.girlvolleyballpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.girlvolleyballpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.girlvolleyballpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.girlvolleyballpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.girlvolleyballpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.girlvolleyballpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.girlvolleyballpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.girlvolleyballpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.girlvolleyballpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	

.badminton1{
		position: absolute;
		top:2720px;
		left:50px;
		font-size: 20px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.badminton2{
		width:600px;
		height: 400px;
		position: absolute;
		top:2750px;
		left:120px;
		border:12px  #EF9E7B ridge;	
		}
.badminton2 img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.badminton2:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.badmintonpic{	
		-webkit-animation: round 50s linear infinite;
		}
.badmintonpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.badmintonpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.badmintonpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.badmintonpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.badmintonpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.badmintonpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.badmintonpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.badmintonpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.badmintonpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	
.home{	width:120px;
		height:120px;}
.homediv{
		position:fixed;
		bottom:0;
		right:0;
		width:120px;
		height:120px;
		}
/*video_yifan*/
.te{	border: 2px #CA6F1E   dashed ;
		padding:8px;
	 	position: absolute;
	  	top:570px;
	  	left:465px;
	 	background-color:#F9E79F ;
	  	border-radius: 30px;
	  	padding:10px;
	  	animation: im 1s 1.5s forwards;
}
.mp41{ 
	  	font-size:20px;
	  	text-align:center;
	  	font-family:Microsoft JhengHei ;  
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0;
	  	animation: im 1s 1.5s forwards;}
.mp42{ 
	  	font-size:18px;
	  	font-family:Microsoft JhengHei ;
	  	text-align:center; 
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0;
	  	animation: im 1s 1.5s forwards;}
.video1{ 
	  	width:630px;
	  	height:354px;
	  	position: absolute;
	  	left:452px;
	  	top:145px; 
	  	border-radius: 30px;
	  	border: 6px #CA6F1E dashed ;
	  	padding:4px;
	  	z-index: -1;
   }
.video2{ 
	  	width:630px;
      	height:354px;
      	border-radius: 30px;
   	  	border: 6px #CA6F1E   dashed ;
  	  	padding:4px;
   	  	z-index: -1;
   }
.po{  	position:relative;
      	top:650px; 
		}
.sidelight{
	  	border: 2px #CA6F1E   dashed ;
	  	padding:8px;
	  	position: absolute;
	  	font-size:20px;
	  	text-align:center;
	  	font-family:Microsoft JhengHei ;
	  	top:850px;
	  	left:725px;
	  	background-color:#F9E79F ;
	  	border-radius: 30px;
	  	padding:10px;
	  	animation: im 1s 1.5s forwards;
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0; 
		}
.peach11{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:840px;
	  	left:100px;
	  	animation: vs 1s infinite ease-out;
  		}
.peach31{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:840px;
	  	left:1200px;
	  	animation: vs 1s infinite ease-out;
 		 }
.peach21{
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:1190px;
	  	left:100px;
	  	animation: vs 1s infinite ease-out;
 		 }
.peach41{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:1190px;
	  	left:1200px;
	  	animation: vs 1s infinite ease-out;
		}
/*video_yifan*/
.tea1{	width:550px;
		height:406px;
		position: absolute;
		top:250px;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.tea2{	width:550px;
		height:406px;
		position: absolute;
		top:250px;
		left:505px;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.dogdiv{float:left;
		width:65vw;
		height: 1700px;
		position: absolute;
        left:26vw;}
.imbst{	width:600px;
		height: 400px;
		position: absolute;
		top:280px;
		left:80px;
		border:10px  #323A51 dashed;}
.imbst img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.imbst:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.imbstpic{	
		-webkit-animation: round 50s linear infinite;
		}
.imbstpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.imbstpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.imbstpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.imbstpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.imbstpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.imbstpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.imbstpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.imbstpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.imbstpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	
.yt1{	position: absolute;
		top:750px;
		left:105px;}
.yt2{	position: absolute;
		top:1150px;
		left:105px;}

.nightdiv{
		float:left;
		width:65vw;
		height: 1700px;
		position: absolute;
        left:26vw;
}
.night{	width:600px;
		height: 400px;
		position: absolute;
		top:250px;
		left:80px;
		border:10px  #D18383 dashed;}
.night img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.night:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.nightpic{	
		-webkit-animation: round 50s linear infinite;
		}
.nightpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.nightpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.nightpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.nightpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.nightpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.nightpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.nightpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.nightpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.nightpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}
.yt3{	position: absolute;
		top:750px;
		left:105px;}
.yt4{	position: absolute;
		top:1150px;
		left:105px;}

.play{	width:600px;
		height: 400px;
		position: absolute;
		top:250px;
		left:80px;
		border:10px  #3C8659 dashed;}
.play img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.play:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.playpic{	
		-webkit-animation: round 50s linear infinite;
		}
.playpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.playpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.playpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.playpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.playpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.playpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.playpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.playpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.playpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}